<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CuisineType</key>
	<array>
		<dict>
			<key>value</key>
			<string>italian</string>
			<key>title</key>
			<string>Italian</string>
			<key>icon</key>
			<string>italian_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>mexican</string>
			<key>title</key>
			<string>Mexican</string>
			<key>icon</key>
			<string>mexican_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Indian</string>
			<key>title</key>
			<string>Indian</string>
			<key>icon</key>
			<string>indian_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Pakistani</string>
			<key>title</key>
			<string>Pakistani</string>
			<key>icon</key>
			<string>pakistani_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Chinese</string>
			<key>title</key>
			<string>Chinese</string>
			<key>icon</key>
			<string>chinese_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Japanese</string>
			<key>title</key>
			<string>Japanese</string>
			<key>icon</key>
			<string>japanese_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Thai</string>
			<key>title</key>
			<string>Thai</string>
			<key>icon</key>
			<string>thai_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Korean</string>
			<key>title</key>
			<string>Korean</string>
			<key>icon</key>
			<string>korean_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Vietnamese</string>
			<key>title</key>
			<string>Vietnamese</string>
			<key>icon</key>
			<string>vietnamese_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Malaysian</string>
			<key>title</key>
			<string>Malaysian</string>
			<key>icon</key>
			<string>malaysian_icon</string>
		</dict>
		<dict>
			<key>value</key>
			<string>Indonesian</string>
			<key>title</key>
			<string>Indonesian</string>
			<key>icon</key>
			<string>indonesian_icon</string>
		</dict>
	</array>
</dict>
</plist>
