<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MealType</key>
	<array>
		<dict>
			<key>title</key>
			<string>Breakfast</string>
			<key>value</key>
			<string>breakfast</string>
			<key>icon</key>
			<string>breakfast_icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Lunch</string>
			<key>value</key>
			<string>lunch</string>
			<key>icon</key>
			<string>lunch_icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Dinner</string>
			<key>value</key>
			<string>dinner</string>
			<key>icon</key>
			<string>dinner_icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Snacks</string>
			<key>value</key>
			<string>snacks</string>
			<key>icon</key>
			<string>snacks_icon</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Desserts</string>
			<key>value</key>
			<string>desserts</string>
			<key>icon</key>
			<string>desserts_icon</string>
		</dict>
	</array>
</dict>
</plist>
