<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Breakfast</key>
	<string>breakfast</string>
	<key>Lunch</key>
	<string>lunch</string>
	<key>Dinner</key>
	<string>dinner</string>
	<key>Snacks</key>
	<string>snacks</string>
	<key>Desserts</key>
	<string>desserts</string>
</dict>
</plist>
